# Nielsen ratings

In [92]:
import pandas as pd
import matplotlib.pyplot as plt

In [93]:
df_cable = pd.read_csv("Nielsenratings_dataset.csv")

In [94]:
df_cable.head()

,name,channel,genre,season,episode,year,day,time,minutes,viewers,rating
0,Dancing with the Stars,ABC,Reality-Competition,26,1,2018-S,Monday,8:00,120,8.48,1.1
1,Dancing with the Stars,ABC,Reality-Competition,26,2,2018-S,Monday,8:00,120,7.73,1.0
2,Dancing with the Stars,ABC,Reality-Competition,26,3,2018-S,Monday,8:00,120,7.68,1.0
3,Dancing with the Stars,ABC,Reality-Competition,26,4,2018-S,Monday,8:00,60,8.77,1.1
4,Dancing with the Stars,ABC,Reality-Competition,25,1,2017-F,Monday,8:00,120,10.71,1.6

In [95]:
df_breakingbad = pd.read_csv("breaking-bad.csv")

In [96]:
df_breakingbad.head()

,season,episode,title,year,votes,rating,us-viewers
0,1,1,Pilot,2008,23970,9.0,1.41
1,1,2,Cat's in the Bag...,2008,17267,8.7,1.49
2,1,3,...And the Bag's in the River,2008,16719,8.8,1.08
3,1,4,Cancer Man,2008,16211,8.3,1.09
4,1,5,Gray Matter,2008,15896,8.4,0.97

In [97]:
df_breakingbad = df_breakingbad.rename(columns={'title': 'name','us-viewers':'viewers'})

In [98]:
df_breakingbad.head()

,season,episode,name,year,votes,rating,viewers
0,1,1,Pilot,2008,23970,9.0,1.41
1,1,2,Cat's in the Bag...,2008,17267,8.7,1.49
2,1,3,...And the Bag's in the River,2008,16719,8.8,1.08
3,1,4,Cancer Man,2008,16211,8.3,1.09
4,1,5,Gray Matter,2008,15896,8.4,0.97

In [99]:
# Replace all the values in the "name" column with "Breaking Bad"
df_breakingbad['name'] = 'Breaking Bad'

In [100]:
df_breakingbad.head(60)

    season  episode          name  year   votes  rating  viewers
0        1        1  Breaking Bad  2008   23970     9.0     1.41
1        1        2  Breaking Bad  2008   17267     8.7     1.49
2        1        3  Breaking Bad  2008   16719     8.8     1.08
3        1        4  Breaking Bad  2008   16211     8.3     1.09
4        1        5  Breaking Bad  2008   15896     8.4     0.97
5        1        6  Breaking Bad  2008   18447     9.3     1.07
6        1        7  Breaking Bad  2008   16208     8.9     1.50
7        2        1  Breaking Bad  2009   14506     8.7     1.66
8        2        2  Breaking Bad  2009   16918     9.3     1.60
9        2        3  Breaking Bad  2009   14062     8.4     1.13
10       2        4  Breaking Bad  2009   14193     8.3     1.29
11       2        5  Breaking Bad  2009   13761     8.4     1.21
12       2        6  Breaking Bad  2009   15225     8.9     1.41
13       2        7  Breaking Bad  2009   13720     8.7      NaN
14       2        8  Breaking Bad  2009   16213     9.2     1.04
15       2        9  Breaking Bad  2009   15728     9.2      NaN
16       2       10  Breaking Bad  2009   13450     8.6      NaN
17       2       11  Breaking Bad  2009   13903     8.9      NaN
18       2       12  Breaking Bad  2009   15647     9.3      NaN
19       2       13  Breaking Bad  2009   15649     9.3     1.50
20       3        1  Breaking Bad  2010   13324     8.6     1.95
21       3        2  Breaking Bad  2010   12912     8.7     1.55
22       3        3  Breaking Bad  2010   12948     8.5     1.33
23       3        4  Breaking Bad  2010   13190     8.3     1.46
24       3        5  Breaking Bad  2010   12557     8.7     1.61
25       3        6  Breaking Bad  2010   15028     9.3     1.64
26       3        7  Breaking Bad  2010   18580     9.6     1.52
27       3        8  Breaking Bad  2010   13013     8.8     1.78
28       3        9  Breaking Bad  2010   12901     8.5     1.61
29       3       10  Breaking Bad  2010   22726     7.8     1.20
30       3       11  Breaking Bad  2010   12778     8.5     1.32
31       3       12  Breaking Bad  2010   17954     9.5     1.19
32       3       13  Breaking Bad  2010   20196     9.7     1.56
33       4        1  Breaking Bad  2011   16165     9.2     2.58
34       4        2  Breaking Bad  2011   13396     8.3     1.97
35       4        3  Breaking Bad  2011   13529     8.1     1.71
36       4        4  Breaking Bad  2011   12631     8.7     1.83
37       4        5  Breaking Bad  2011   12658     8.7     1.75
38       4        6  Breaking Bad  2011   12825     8.5     1.67
39       4        7  Breaking Bad  2011   13352     8.9     1.91
40       4        8  Breaking Bad  2011   15077     9.3     1.98
41       4        9  Breaking Bad  2011   13476     8.9     1.89
42       4       10  Breaking Bad  2011   19052     9.6     1.80
43       4       11  Breaking Bad  2011   22002     9.7     1.55
44       4       12  Breaking Bad  2011   17070     9.5     1.73
45       4       13  Breaking Bad  2011   41062     9.9     1.90
46       5        1  Breaking Bad  2012   19061     9.3     2.93
47       5        2  Breaking Bad  2012   16021     8.9     2.29
48       5        3  Breaking Bad  2012   15551     8.9     2.20
49       5        4  Breaking Bad  2012   15658     8.9     2.29
50       5        5  Breaking Bad  2012   23311     9.7     2.48
51       5        6  Breaking Bad  2012   16026     9.1     2.81
52       5        7  Breaking Bad  2012   20586     9.6     2.98
53       5        8  Breaking Bad  2012   21263     9.6     2.78
54       5        9  Breaking Bad  2013   20694     9.5     5.92
55       5       10  Breaking Bad  2013   17946     9.2     4.77
56       5       11  Breaking Bad  2013   22112     9.6     4.85
57       5       12  Breaking Bad  2013   18740     9.2     4.41
58       5       13  Breaking Bad  2013   31591     9.8     5.11
59       5       14  Breaking Bad  2013  119128    10.0     6.37

In [101]:
df_the_office_series = pd.read_csv("the_office_series.csv")

In [102]:
df_the_office_series.head()

,Unnamed: 0,Season,EpisodeTitle,About,Ratings,Votes,Viewership,Duration,Date,GuestStars,Director,Writers
0,0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,24 March 2005,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels
1,1,1,Diversity Day,Michael's off color remark puts a sensitivity ...,8.3,4801,6.0,23,29 March 2005,NaN,Ken Kwapis,B. J. Novak
2,2,1,Health Care,Michael leaves Dwight in charge of picking the...,7.8,4024,5.8,22,5 April 2005,NaN,Ken Whittingham,Paul Lieberstein
3,3,1,The Alliance,"Just for a laugh, Jim agrees to an alliance wi...",8.1,3915,5.4,23,12 April 2005,NaN,Bryan Gordon,Michael Schur
4,4,1,Basketball,Michael and his staff challenge the warehouse ...,8.4,4294,5.0,23,19 April 2005,NaN,Greg Daniels,Greg Daniels

In [103]:
df_the_office_series = df_the_office_series.rename(columns={'EpisodeTitle': 'name','Viewership':'viewers','Ratings': 'rating','Season':'season'})

In [104]:
df_the_office_series.head()

,Unnamed: 0,season,name,About,rating,Votes,viewers,Duration,Date,GuestStars,Director,Writers
0,0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,24 March 2005,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels
1,1,1,Diversity Day,Michael's off color remark puts a sensitivity ...,8.3,4801,6.0,23,29 March 2005,NaN,Ken Kwapis,B. J. Novak
2,2,1,Health Care,Michael leaves Dwight in charge of picking the...,7.8,4024,5.8,22,5 April 2005,NaN,Ken Whittingham,Paul Lieberstein
3,3,1,The Alliance,"Just for a laugh, Jim agrees to an alliance wi...",8.1,3915,5.4,23,12 April 2005,NaN,Bryan Gordon,Michael Schur
4,4,1,Basketball,Michael and his staff challenge the warehouse ...,8.4,4294,5.0,23,19 April 2005,NaN,Greg Daniels,Greg Daniels

In [105]:
df_the_office_series['name'] = 'The office'

In [106]:
df_the_office_series.head()

,Unnamed: 0,season,name,About,rating,Votes,viewers,Duration,Date,GuestStars,Director,Writers
0,0,1,The office,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,24 March 2005,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels
1,1,1,The office,Michael's off color remark puts a sensitivity ...,8.3,4801,6.0,23,29 March 2005,NaN,Ken Kwapis,B. J. Novak
2,2,1,The office,Michael leaves Dwight in charge of picking the...,7.8,4024,5.8,22,5 April 2005,NaN,Ken Whittingham,Paul Lieberstein
3,3,1,The office,"Just for a laugh, Jim agrees to an alliance wi...",8.1,3915,5.4,23,12 April 2005,NaN,Bryan Gordon,Michael Schur
4,4,1,The office,Michael and his staff challenge the warehouse ...,8.4,4294,5.0,23,19 April 2005,NaN,Greg Daniels,Greg Daniels

In [107]:
df_lucifer = pd.read_csv("lucifer_episodes_ratings.csv")

In [108]:
df_lucifer.head()

,name,season,episode,date_of_release,ratings,reviews
0,Pilot,1,1,2017-09-01,8.8,8166
1,"Lucifer, Stay. Good Devil.",1,2,2016-02-01,8.2,5517
2,The Would-Be Prince of Darkness,1,3,2016-02-08,8.2,4951
3,Manly Whatnots,1,4,2016-02-15,8.6,4879
4,Sweet Kicks,1,5,2016-02-22,8.1,4463

In [109]:
df_lucifer = df_lucifer.rename(columns={'date_of_release': 'year','ratings': 'rating'})

In [110]:
df_lucifer['name'] = 'lucifer'

In [111]:
df_lucifer.head()

      name  season  episode        year  rating  reviews
0  lucifer       1        1  2017-09-01     8.8     8166
1  lucifer       1        2  2016-02-01     8.2     5517
2  lucifer       1        3  2016-02-08     8.2     4951
3  lucifer       1        4  2016-02-15     8.6     4879
4  lucifer       1        5  2016-02-22     8.1     4463

In [112]:
df_brooklyn = pd.read_csv("brooklyn99_episodes.csv")

In [113]:
df_brooklyn.head(10)

,season,episode_num_in_season,episode_num_overall,title,directed_by,written_by,original_air_date,prod_code,us_viewers
0,1,1,1,Pilot,Phil Lord & Christopher Miller,Dan Goor & Michael Schur,2013-09-17,101.0,6170000.0
1,1,2,2,The Tagger,Craig Zisk,Norm Hiscock,2013-09-24,102.0,4030000.0
2,1,3,3,The Slump,Julie Anne Robinson,Prentice Penny,2013-10-01,105.0,3430000.0
3,1,4,4,M.E. Time,Troy Miller,Gil Ozeri,2013-10-08,106.0,3340000.0
4,1,5,5,The Vulture,Jason Ensler,Laura McCreary,2013-10-15,104.0,3430000.0
5,1,6,6,Halloween,Dean Holland,Lesley Arfin,2013-10-22,107.0,3770000.0
6,1,7,7,48 Hours,Peter Lauer,Luke Del Tredici,2013-11-05,103.0,3840000.0
7,1,8,8,Old School,Beth McCarthy-Miller,Gabe Liedman,2013-11-12,109.0,3260000.0
8,1,9,9,Sal's Pizza,Craig Zisk,Lakshmi Sundaram,2013-11-19,108.0,3360000.0
9,1,10,10,Thanksgiving,Jorma Taccone,Luke Del Tredici,2013-11-26,110.0,3690000.0

In [114]:
df_brooklyn.shape

(153, 9)

In [115]:
df_brooklyn = df_brooklyn.rename(columns={'original_air_date': 'year','title': 'name','us_viewers': 'viewers','episode_num_overall':'episode'})

In [116]:
df_brooklyn['name'] = 'brooklyn 99'

In [117]:
df_brooklyn.head()

,season,episode_num_in_season,episode,name,directed_by,written_by,year,prod_code,viewers
0,1,1,1,brooklyn 99,Phil Lord & Christopher Miller,Dan Goor & Michael Schur,2013-09-17,101.0,6170000.0
1,1,2,2,brooklyn 99,Craig Zisk,Norm Hiscock,2013-09-24,102.0,4030000.0
2,1,3,3,brooklyn 99,Julie Anne Robinson,Prentice Penny,2013-10-01,105.0,3430000.0
3,1,4,4,brooklyn 99,Troy Miller,Gil Ozeri,2013-10-08,106.0,3340000.0
4,1,5,5,brooklyn 99,Jason Ensler,Laura McCreary,2013-10-15,104.0,3430000.0

In [118]:
df_bigbang = pd.read_csv("Big Bang Theory_IMDB.csv")

In [119]:
df_bigbang.shape

(281, 9)

In [120]:
df_bigbang.head()

,index,Unnamed: 0,Season,Episode Number,Air date,Title,Rating,Votes,Plot
0,0,0,1,0,\n 1 May 2006\n,Unaired Pilot,6.7,"(1,641)","\n The first Pilot of what will become ""The..."
1,1,1,1,1,\n 24 Sep. 2007\n,Pilot,8.3,"(4,737)",\n A pair of socially awkward theoretical p...
2,2,2,1,2,\n 1 Oct. 2007\n,The Big Bran Hypothesis,8.4,"(3,716)",\n Penny is furious with Leonard and Sheldo...
3,3,3,1,3,\n 8 Oct. 2007\n,The Fuzzy Boots Corollary,7.8,"(3,251)",\n Leonard gets upset when he discovers tha...
4,4,4,1,4,\n 15 Oct. 2007\n,The Luminous Fish Effect,8.2,"(3,311)",\n Sheldon's mother is called to intervene ...

In [121]:
df_bigbang = df_bigbang.rename(columns={'Air date': 'year','Title': 'name','Episode Number': 'episode','Rating': 'rating','Season': 'season'})

In [122]:
df_bigbang.head()

,index,Unnamed: 0,season,episode,year,name,rating,Votes,Plot
0,0,0,1,0,\n 1 May 2006\n,Unaired Pilot,6.7,"(1,641)","\n The first Pilot of what will become ""The..."
1,1,1,1,1,\n 24 Sep. 2007\n,Pilot,8.3,"(4,737)",\n A pair of socially awkward theoretical p...
2,2,2,1,2,\n 1 Oct. 2007\n,The Big Bran Hypothesis,8.4,"(3,716)",\n Penny is furious with Leonard and Sheldo...
3,3,3,1,3,\n 8 Oct. 2007\n,The Fuzzy Boots Corollary,7.8,"(3,251)",\n Leonard gets upset when he discovers tha...
4,4,4,1,4,\n 15 Oct. 2007\n,The Luminous Fish Effect,8.2,"(3,311)",\n Sheldon's mother is called to intervene ...

In [123]:
df_bigbang['name'] = 'big bang theory'

In [124]:
df_bigbang.head()

,index,Unnamed: 0,season,episode,year,name,rating,Votes,Plot
0,0,0,1,0,\n 1 May 2006\n,big bang theory,6.7,"(1,641)","\n The first Pilot of what will become ""The..."
1,1,1,1,1,\n 24 Sep. 2007\n,big bang theory,8.3,"(4,737)",\n A pair of socially awkward theoretical p...
2,2,2,1,2,\n 1 Oct. 2007\n,big bang theory,8.4,"(3,716)",\n Penny is furious with Leonard and Sheldo...
3,3,3,1,3,\n 8 Oct. 2007\n,big bang theory,7.8,"(3,251)",\n Leonard gets upset when he discovers tha...
4,4,4,1,4,\n 15 Oct. 2007\n,big bang theory,8.2,"(3,311)",\n Sheldon's mother is called to intervene ...

In [125]:
df_modrenfamily = pd.read_csv("modern_family_info.csv")

In [126]:
df_modrenfamily.head()

,Title,Airdate,Season-Episode,Rating,Total Votes,Description,Image Link
0,Pilot,2009-09-23,S1-E1,8.2,3654,"Jay must adapt to his young new wife, Gloria a...",https://m.media-amazon.com/images/M/MV5BMTc4MT...
1,The Bicycle Thief,2009-09-30,S1-E2,8.1,3006,"After buying a new bike for his son, Phil ends...",https://m.media-amazon.com/images/M/MV5BMTcwOT...
2,Come Fly with Me,2009-10-07,S1-E3,8.0,2650,Jay takes Phil on a model-airplane excursion w...,https://m.media-amazon.com/images/M/MV5BMjA0OT...
3,The Incident,2009-10-14,S1-E4,8.2,2710,Jay's ex-wife shows up for the first time foll...,https://m.media-amazon.com/images/M/MV5BMTU1MT...
4,Coal Digger,2009-10-21,S1-E5,8.3,2606,A conflict between Manny and Luke spreads to t...,https://m.media-amazon.com/images/M/MV5BODgzMz...

In [127]:
df_modrenfamily = df_modrenfamily.rename(columns={'Airdate': 'year','Title': 'name','Season-Episode	': 'episode','Rating': 'rating','Total Votes': 'votes'})

In [128]:
df_modrenfamily.head()

,name,year,Season-Episode,rating,votes,Description,Image Link
0,Pilot,2009-09-23,S1-E1,8.2,3654,"Jay must adapt to his young new wife, Gloria a...",https://m.media-amazon.com/images/M/MV5BMTc4MT...
1,The Bicycle Thief,2009-09-30,S1-E2,8.1,3006,"After buying a new bike for his son, Phil ends...",https://m.media-amazon.com/images/M/MV5BMTcwOT...
2,Come Fly with Me,2009-10-07,S1-E3,8.0,2650,Jay takes Phil on a model-airplane excursion w...,https://m.media-amazon.com/images/M/MV5BMjA0OT...
3,The Incident,2009-10-14,S1-E4,8.2,2710,Jay's ex-wife shows up for the first time foll...,https://m.media-amazon.com/images/M/MV5BMTU1MT...
4,Coal Digger,2009-10-21,S1-E5,8.3,2606,A conflict between Manny and Luke spreads to t...,https://m.media-amazon.com/images/M/MV5BODgzMz...

In [129]:
df_modrenfamily = df_modrenfamily.rename(columns={'Season-Episode': 'episode'})

In [130]:
df_modrenfamily['name'] = 'modrenfamily'

In [131]:
df_modrenfamily.head()

,name,year,episode,rating,votes,Description,Image Link
0,modrenfamily,2009-09-23,S1-E1,8.2,3654,"Jay must adapt to his young new wife, Gloria a...",https://m.media-amazon.com/images/M/MV5BMTc4MT...
1,modrenfamily,2009-09-30,S1-E2,8.1,3006,"After buying a new bike for his son, Phil ends...",https://m.media-amazon.com/images/M/MV5BMTcwOT...
2,modrenfamily,2009-10-07,S1-E3,8.0,2650,Jay takes Phil on a model-airplane excursion w...,https://m.media-amazon.com/images/M/MV5BMjA0OT...
3,modrenfamily,2009-10-14,S1-E4,8.2,2710,Jay's ex-wife shows up for the first time foll...,https://m.media-amazon.com/images/M/MV5BMTU1MT...
4,modrenfamily,2009-10-21,S1-E5,8.3,2606,A conflict between Manny and Luke spreads to t...,https://m.media-amazon.com/images/M/MV5BODgzMz...

In [132]:
df_modrenfamily.shape

(250, 7)

In [133]:
df_bettercallsaul = pd.read_csv("better_call_saul_episodes_IMDb_Ratings.csv")

In [134]:
df_bettercallsaul.head()

,season,episode_number,title,airdate,rating,total_votes,description,episode
0,1,1,Uno,2017-10-04,8.5,18386,Struggling public defender Jimmy McGill constr...,"S1, Ep01"
1,1,2,Mijo,2015-02-09,8.9,17409,Jimmy's latest scam has gone horribly wrong an...,"S1, Ep02"
2,1,3,Nacho,2015-02-16,8.7,14709,Jimmy must prove that Nacho is innocent when h...,"S1, Ep03"
3,1,4,Hero,2015-02-23,8.4,13260,Jimmy makes a bold move against Hamlin in an e...,"S1, Ep04"
4,1,5,Alpine Shepherd Boy,2015-03-02,8.0,12759,"After a strange encounter with the police, Chu...","S1, Ep05"

In [135]:
df_bettercallsaul = df_bettercallsaul.rename(columns={'episode_number': 'episode','title': 'name','airdate': 'year','total_votes': 'votes'})

In [136]:
df_bettercallsaul['name'] = 'bettercallsaul'

In [137]:
df_bettercallsaul.head()

,season,episode,name,year,rating,votes,description,episode
0,1,1,bettercallsaul,2017-10-04,8.5,18386,Struggling public defender Jimmy McGill constr...,"S1, Ep01"
1,1,2,bettercallsaul,2015-02-09,8.9,17409,Jimmy's latest scam has gone horribly wrong an...,"S1, Ep02"
2,1,3,bettercallsaul,2015-02-16,8.7,14709,Jimmy must prove that Nacho is innocent when h...,"S1, Ep03"
3,1,4,bettercallsaul,2015-02-23,8.4,13260,Jimmy makes a bold move against Hamlin in an e...,"S1, Ep04"
4,1,5,bettercallsaul,2015-03-02,8.0,12759,"After a strange encounter with the police, Chu...","S1, Ep05"

In [138]:
df_bettercallsaul.shape

(63, 8)

In [139]:
df_thewire = pd.read_csv("The_Wire.csv")

In [140]:
df_thewire.head()

,season,episode_number,total_episode_count,episode_name,air_date,director,story_writers,teleplay_writers,description,viewers,total_votes,rating
0,1,1,1,The Target,2002-06-02,Clark Johnson,David Simon & Ed Burns,David Simon,Baltimore Det. Jimmy McNulty finds himself in ...,3.70,6766,7.9
1,1,2,2,The Detail,2002-06-09,Clark Johnson,David Simon & Ed Burns,David Simon,Lt. Daniels puts his team together but the ext...,2.80,5518,8.2
2,1,3,3,The Buys,2002-06-16,Peter Medak,David Simon & Ed Burns,David Simon,"After two weeks on the job, the team still doe...",NaN,5179,8.2
3,1,4,4,Old Cases,2002-06-23,Clement Virgo,David Simon & Ed Burns,David Simon,Bodie walks out of detention pretending to be ...,2.91,5004,8.2
4,1,5,5,The Pager,2002-06-30,Clark Johnson,David Simon & Ed Burns,Ed Burns,Avon Barksdale is becoming paranoid and thinks...,2.97,4778,8.3

In [141]:
df_thewire = df_thewire.rename(columns={'episode_number': 'episode','episode_name': 'name','air_date': 'year','total_votes': 'votes'})

In [142]:
df_thewire['name'] = 'thewire'

In [143]:
df_thewire.head()

,season,episode,total_episode_count,name,year,director,story_writers,teleplay_writers,description,viewers,votes,rating
0,1,1,1,thewire,2002-06-02,Clark Johnson,David Simon & Ed Burns,David Simon,Baltimore Det. Jimmy McNulty finds himself in ...,3.70,6766,7.9
1,1,2,2,thewire,2002-06-09,Clark Johnson,David Simon & Ed Burns,David Simon,Lt. Daniels puts his team together but the ext...,2.80,5518,8.2
2,1,3,3,thewire,2002-06-16,Peter Medak,David Simon & Ed Burns,David Simon,"After two weeks on the job, the team still doe...",NaN,5179,8.2
3,1,4,4,thewire,2002-06-23,Clement Virgo,David Simon & Ed Burns,David Simon,Bodie walks out of detention pretending to be ...,2.91,5004,8.2
4,1,5,5,thewire,2002-06-30,Clark Johnson,David Simon & Ed Burns,Ed Burns,Avon Barksdale is becoming paranoid and thinks...,2.97,4778,8.3

In [144]:
df_thewire = df_thewire.drop(columns=['total_episode_count'])

In [145]:
df_thewire.head()

,season,episode,name,year,director,story_writers,teleplay_writers,description,viewers,votes,rating
0,1,1,thewire,2002-06-02,Clark Johnson,David Simon & Ed Burns,David Simon,Baltimore Det. Jimmy McNulty finds himself in ...,3.70,6766,7.9
1,1,2,thewire,2002-06-09,Clark Johnson,David Simon & Ed Burns,David Simon,Lt. Daniels puts his team together but the ext...,2.80,5518,8.2
2,1,3,thewire,2002-06-16,Peter Medak,David Simon & Ed Burns,David Simon,"After two weeks on the job, the team still doe...",NaN,5179,8.2
3,1,4,thewire,2002-06-23,Clement Virgo,David Simon & Ed Burns,David Simon,Bodie walks out of detention pretending to be ...,2.91,5004,8.2
4,1,5,thewire,2002-06-30,Clark Johnson,David Simon & Ed Burns,Ed Burns,Avon Barksdale is becoming paranoid and thinks...,2.97,4778,8.3

In [146]:
df_thebachelor = pd.read_csv("Thebachelor.csv")

In [147]:
df_thebachelor.head()

,Show,Season,No Overall,No in Season,Title,Air Date,Prod Code,US. Viewers (millions),Rating / Share (18-49)
0,The Bachelor,1,1,1,"""Week 1""","March 25, 2002",101,9.9,4.0/0
1,The Bachelor,1,2,2,"""Week 2""","April 1, 2002",102,10.2,4.4/11
2,The Bachelor,1,3,3,"""Week 3""","April 8, 2002",103,9.4,4.2/10
3,The Bachelor,1,4,4,"""Week 4""","April 15, 2002",104,11.1,4.6/12
4,The Bachelor,1,5,5,"""Week 5""","April 22, 2002",105,13.1,5.7/14

In [148]:
df_thebachelor = df_thebachelor.rename(columns={'Season': 'season','Title': 'name','Air Date': 'year','No Overall': 'episode','US. Viewers (millions)': 'viewers','Rating / Share (18-49)': 'rating',})

In [149]:
df_thebachelor['name'] = 'thebachelor'

In [150]:
df_thebachelor.head(60)

,Show,season,episode,No in Season,name,year,Prod Code,viewers,rating
0,The Bachelor,1,1,1,thebachelor,"March 25, 2002",101,9.90,4.0/0
1,The Bachelor,1,2,2,thebachelor,"April 1, 2002",102,10.20,4.4/11
2,The Bachelor,1,3,3,thebachelor,"April 8, 2002",103,9.40,4.2/10
3,The Bachelor,1,4,4,thebachelor,"April 15, 2002",104,11.10,4.6/12
4,The Bachelor,1,5,5,thebachelor,"April 22, 2002",105,13.10,5.7/14
5,The Bachelor,1,6,6,thebachelor,"April 25, 2002",NaN,10.80,3.6/9
6,The Bachelor,1,7,7,thebachelor,"April 25, 2002",106,18.20,7.3/17
7,The Bachelor,2,8,1,thebachelor,"September 25, 2002",200,8.90,NaN
8,The Bachelor,2,9,2,thebachelor,"October 2, 2002",201,11.00,4.9/12
9,The Bachelor,2,10,3,thebachelor,"October 9, 2002",202,12.80,6.4/16
10,The Bachelor,2,11,4,thebachelor,"October 16, 2002",203,12.60,5.9/15
11,The Bachelor,2,12,5,thebachelor,"October 23, 2002",204,14.90,7.0/17
12,The Bachelor,2,13,6,thebachelor,"October 30, 2002",205,15.00,7.3/18
13,The Bachelor,2,14,7,thebachelor,"November 6, 2002",206,16.30,7.8/18
14,The Bachelor,2,15,8,thebachelor,"November 13, 2002",NaN,16.80,7.7/19
15,The Bachelor,2,16,9,thebachelor,"November 20, 2002",207,25.90,11.9/28
16,The Bachelor,3,17,1,thebachelor,"March 26, 2003",301,NaN,NaN
17,The Bachelor,3,18,2,thebachelor,"April 2, 2003",302,10.20,5.0/12
18,The Bachelor,3,19,3,thebachelor,"April 9, 2003",303,11.20,5.4/14
19,The Bachelor,3,20,4,thebachelor,"April 16, 2003",304,11.50,5.6/15
20,The Bachelor,3,21,5,thebachelor,"April 23, 2003",305,12.93,6.2/15
21,The Bachelor,3,22,6,thebachelor,"April 30, 2003",306,13.30,6.4/16
22,The Bachelor,3,23,7,thebachelor,"May 7, 2003",307,13.50,6.6/16
23,The Bachelor,3,24,8,thebachelor,"May 14, 2003",NaN,10.10,4.7/11
24,The Bachelor,3,25,9,thebachelor,"May 18, 2003",308,15.10,7.2/17
25,The Bachelor,3,26,10,thebachelor,"May 21, 2003",NaN,9.30,NaN
26,The Bachelor,4,27,1,thebachelor,"September 24, 2003",401,12.55,6.0/16
27,The Bachelor,4,28,2,thebachelor,"October 1, 2003",402,10.13,4.8/11
28,The Bachelor,4,29,3,thebachelor,"October 8, 2003",403,12.86,6.1/15
29,The Bachelor,4,30,4,thebachelor,"October 15, 2003",404,11.96,5.7/14
30,The Bachelor,4,31,5,thebachelor,"October 22, 2003",405,13.58,6.6/16
31,The Bachelor,4,32,6,thebachelor,"October 29, 2003",406,13.85,6.3/16
32,The Bachelor,4,33,7,thebachelor,"November 5, 2003",407,13.49,6.1/15
33,The Bachelor,4,34,8,thebachelor,"November 12, 2003",NaN,12.45,5.6/14
34,The Bachelor,4,35,9,thebachelor,"November 19, 2003",408,18.62,8.8/21
35,The Bachelor,4,36,10,thebachelor,"November 20, 2003",NaN,9.30,NaN
36,The Bachelor,5,37,1,thebachelor,"April 7, 2004",501,11.08,5.2/14
37,The Bachelor,5,38,2,thebachelor,"April 14, 2004",502,10.47,4.6/12
38,The Bachelor,5,39,3,thebachelor,"April 21, 2004",503,11.95,5.3/13
39,The Bachelor,5,40,4,thebachelor,"April 28, 2004",504,11.62,5.0/13
40,The Bachelor,5,41,5,thebachelor,"May 5, 2004",505,10.33,4.7/12
41,The Bachelor,5,42,6,thebachelor,"May 12, 2004",NaN,9.28,4.2/10
42,The Bachelor,5,43,7,thebachelor,"May 12, 2004",506,12.45,6.0/15
43,The Bachelor,5,44,8,thebachelor,"May 19, 2004",507,13.07,6.0/15
44,The Bachelor,5,45,9,thebachelor,"May 26, 2004",NaN,7.50,NaN
45,The Bachelor,6,46,1,thebachelor,"September 22, 2004",601,8.20,3.7/10
46,The Bachelor,6,47,2,thebachelor,"September 29, 2004",602,7.84,3.3/8
47,The Bachelor,6,48,3,thebachelor,"October 6, 2004",603,8.50,3.6/9
48,The Bachelor,6,49,4,thebachelor,"October 20, 2004",604,8.36,3.5/8
49,The Bachelor,6,50,5,thebachelor,"October 27, 2004",605,8.40,3.5/8
50,The Bachelor,6,51,6,thebachelor,"November 3, 2004",606,9.00,3.9/8
51,The Bachelor,6,52,7,thebachelor,"November 10, 2004",106,9.70,3.9/9
52,The Bachelor,6,53,8,thebachelor,"November 17, 2004",NaN,8.60,3.7/9
53,The Bachelor,6,54,9,thebachelor,"November 24, 2004",608,10.00,3.8/11
54,The Bachelor,6,55,10,thebachelor,"November 24, 2004",NaN,10.20,4.1/12
55,The Bachelor,7,56,1,thebachelor,"March 28, 2005",701,8.23,3.7/9
56,The Bachelor,7,57,2,thebachelor,"April 4, 2005",702,7.82,3.2/8
57,The Bachelor,7,58,3,thebachelor,"April 11, 2005",703,7.39,3.3/8
58,The Bachelor,7,59,4,thebachelor,"April 18, 2005",704,7.50,3.4/8
59,The Bachelor,7,60,5,thebachelor,"April 25, 2005",705,8.09,3.4/8

In [151]:
df_scrubs = pd.read_csv("scrubs_episodes.csv")

In [152]:
df_scrubs.head(6)

,season,episode_num_in_season,episode_num_overall,title,directed_by,written_by,original_air_date,prod_code,us_viewers
0,1,1,1,My First Day,Adam Bernstein,Bill Lawrence,2001-10-02,535G,15400000.0
1,1,2,2,My Mentor,Adam Bernstein,Bill Lawrence,2001-10-04,S101,16300000.0
2,1,3,3,My Best Friend's Mistake,Adam Bernstein,Eric Weinberg,2001-10-09,S102,11800000.0
3,1,4,4,My Old Lady,Marc Buckland,Matt Tarses,2001-10-16,S103,12700000.0
4,1,5,5,My Two Dads,Craig Zisk,Neil Goldman & Garrett Donovan,2001-10-23,S104,11000000.0
5,1,6,6,My Bad,Marc Buckland,Gabrielle Allan,2001-10-30,S105,12400000.0

In [153]:
df_scrubs = df_scrubs.rename(columns={'Season': 'season','title': 'name','original_air_date': 'year', 'us_viewers': 'viewers','episode_num_in_season':'episode'})

In [154]:
df_scrubs['name'] = 'scrubs'

In [155]:
df_scrubs.head(60)

,season,episode,episode_num_overall,name,directed_by,written_by,year,prod_code,viewers
0,1,1,1,scrubs,Adam Bernstein,Bill Lawrence,2001-10-02,535G,15400000.0
1,1,2,2,scrubs,Adam Bernstein,Bill Lawrence,2001-10-04,S101,16300000.0
2,1,3,3,scrubs,Adam Bernstein,Eric Weinberg,2001-10-09,S102,11800000.0
3,1,4,4,scrubs,Marc Buckland,Matt Tarses,2001-10-16,S103,12700000.0
4,1,5,5,scrubs,Craig Zisk,Neil Goldman & Garrett Donovan,2001-10-23,S104,11000000.0
5,1,6,6,scrubs,Marc Buckland,Gabrielle Allan,2001-10-30,S105,12400000.0
6,1,7,7,scrubs,Peter Lauer,Mike Schwartz,2001-11-06,S106,10900000.0
7,1,8,8,scrubs,Lawrence Trilling,Eric Weinberg,2001-11-15,S108,17200000.0
8,1,9,9,scrubs,Elodie Keene,Janae Bakken,2001-11-20,S107,12300000.0
9,1,10,10,scrubs,Matthew Diamond,Bill Lawrence,2001-11-27,S110,12400000.0
10,1,11,11,scrubs,Jeff Melman,Debra Fordham,2001-12-11,S109,10600000.0
11,1,12,12,scrubs,Marc Buckland,Mark Stegemann,2002-01-08,S112,11700000.0
12,1,13,13,scrubs,Michael Spiller,Neil Goldman & Garrett Donovan,2002-01-15,S113,11300000.0
13,1,14,14,scrubs,Michael Spiller,Matt Tarses,2002-01-22,S111,11000000.0
14,1,15,15,scrubs,Lawrence Trilling,Gabrielle Allan,2002-02-05,S115,12600000.0
15,1,16,16,scrubs,Will Mackenzie,Mike Schwartz,2002-02-26,S116,12600000.0
16,1,17,17,scrubs,Matthew Diamond,Story by: Mark StegemannTeleplay by: Janae Bak...,2002-03-05,S114,11000000.0
17,1,18,18,scrubs,Lawrence Trilling,Story by: Janae BakkenTeleplay by: Debra Fordh...,2002-03-12,S117,11400000.0
18,1,19,19,scrubs,Adam Bernstein,Matt Tarses,2002-04-09,S120,10900000.0
19,1,20,20,scrubs,Adam Bernstein,Eric Weinberg,2002-04-16,S118,9300000.0
20,1,21,21,scrubs,Marc Buckland,Story by: Debra FordhamTeleplay by: Janae Bakk...,2002-04-30,S119,10700000.0
21,1,22,22,scrubs,Lawrence Trilling,Bill Lawrence,2002-05-07,S122,9900000.0
22,1,23,23,scrubs,Michael Spiller,Neil Goldman & Garrett Donovan,2002-05-14,S123,12500000.0
23,1,24,24,scrubs,Michael Spiller,Gabrielle Allan & Mike Schwartz,2002-05-21,S121,11600000.0
24,2,1,25,scrubs,Adam Bernstein,Bill Lawrence,2002-09-26,201,22300000.0
25,2,2,26,scrubs,Craig Zisk,Eric Weinberg,2002-10-03,203,18900000.0
26,2,3,27,scrubs,Michael Spiller,Gabrielle Allan,2002-10-10,205,18600000.0
27,2,4,28,scrubs,Paul Quinn,Mark Stegemann,2002-10-17,206,17800000.0
28,2,5,29,scrubs,Marc Buckland,Matt Tarses,2002-10-24,202,14100000.0
29,2,6,30,scrubs,Michael Spiller,Tim Hobert,2002-10-31,204,18000000.0
30,2,7,31,scrubs,Lawrence Trilling,Mike Schwartz,2002-11-07,207,17500000.0
31,2,8,32,scrubs,Ken Whittingham,Janae Bakken,2002-11-14,208,19900000.0
32,2,9,33,scrubs,Lawrence Trilling,Debra Fordham,2002-12-05,209,19500000.0
33,2,10,34,scrubs,Gail Mancuso,Angela Nissel,2002-12-12,210,16500000.0
34,2,11,35,scrubs,Will Mackenzie,Neil Goldman & Garrett Donovan,2003-01-02,212,12800000.0
35,2,12,36,scrubs,Chris Koch,Gabrielle Allan,2003-01-09,211,17200000.0
36,2,13,37,scrubs,Chris Koch,Story by: Bill LawrenceTeleplay by: Matt Tarse...,2003-01-16,213,18000000.0
37,2,14,38,scrubs,Michael Spiller,Eric Weinberg,2003-01-23,214,14100000.0
38,2,15,39,scrubs,Ken Whittingham,Bonnie Schneider & Hadley Davis,2003-01-30,215,17300000.0
39,2,16,40,scrubs,Marc Buckland,Janae Bakken & Debra Fordham,2003-02-06,216,13400000.0
40,2,17,41,scrubs,Marc Buckland,Angela Nissel & Mark Stegemann,2003-03-13,218,NaN
41,2,18,42,scrubs,Adam Bernstein,Bill Lawrence,2003-03-20,217,14200000.0
42,2,19,43,scrubs,Michael Spiller,April Pesa,2003-03-27,219,NaN
43,2,20,44,scrubs,Will Mackenzie,Story by: Mike SchwartzTeleplay by: Neil Goldm...,2003-04-03,220,15300000.0
44,2,21,45,scrubs,Michael Spiller,Will Berson,2003-04-10,221,11900000.0
45,2,22,46,scrubs,Bill Lawrence,Tim Hobert & Matt Tarses,2003-04-17,222,14700000.0
46,3,1,47,scrubs,Bill Lawrence,Bill Lawrence,2003-10-02,301,17100000.0
47,3,2,48,scrubs,Michael Spiller,Tim Hobert,2003-10-09,302,15000000.0
48,3,3,49,scrubs,Michael Spiller,Eric Weinberg,2003-10-23,304,14100000.0
49,3,4,50,scrubs,John Inwood,Neil Goldman & Garrett Donovan,2003-10-30,305,11900000.0
50,3,5,51,scrubs,Marc Buckland,Mike Schwartz,2003-11-06,306,11300000.0
51,3,6,52,scrubs,Gail Mancuso,Debra Fordham,2003-11-13,307,12600000.0
52,3,7,53,scrubs,Ken Whittingham,Mark Stegemann,2003-11-20,308,12800000.0
53,3,8,54,scrubs,Ken Whittingham,Gabrielle Allan,2003-12-04,309,12200000.0
54,3,9,55,scrubs,Chris Koch,Matt Tarses,2003-12-11,303,11100000.0
55,3,10,56,scrubs,Craig Zisk,Janae Bakken,2004-01-22,310,11400000.0
56,3,11,57,scrubs,Chris Koch,Angela Nissel,2004-02-03,311,9200000.0
57,3,12,58,scrubs,Michael Spiller,Bill Lawrence,2004-02-10,316,11000000.0
58,3,13,59,scrubs,Adam Bernstein,Tim Hobert & Eric Weinberg,2004-02-17,317,8200000.0
59,3,14,60,scrubs,Chris Koch,Neil Goldman & Garrett Donovan,2004-02-24,315,NaN

In [156]:
df_himym_episodes = pd.read_csv("himym_episodes.csv")

In [157]:
df_himym_episodes.head()

,season,episode_num_in_season,episode_num_overall,title,directed_by,written_by,original_air_date,prod_code,us_viewers
0,1,1,1,Pilot,Pamela Fryman,Carter Bays & Craig Thomas,2005-09-19,1ALH79,10940000.0
1,1,2,2,Purple Giraffe,Pamela Fryman,Carter Bays & Craig Thomas,2005-09-26,1ALH01,10400000.0
2,1,3,3,The Sweet Taste of Liberty,Pamela Fryman,Phil Lord & Chris Miller,2005-10-03,1ALH02,10440000.0
3,1,4,4,Return of the Shirt,Pamela Fryman,Kourtney Kang,2005-10-10,1ALH03,9840000.0
4,1,5,5,Okay Awesome,Pamela Fryman,Chris Harris,2005-10-17,1ALH04,10140000.0

In [158]:
df_himym_episodes = df_himym_episodes.rename(columns={'Season': 'season','title': 'name','original_air_date': 'year','episode_num_in_season': 'episode','us_viewers': 'viewers'})

In [159]:
df_himym_episodes['name'] = 'How I Met Your Mother'

In [160]:
df_himym_episodes.head()

,season,episode,episode_num_overall,name,directed_by,written_by,year,prod_code,viewers
0,1,1,1,How I Met Your Mother,Pamela Fryman,Carter Bays & Craig Thomas,2005-09-19,1ALH79,10940000.0
1,1,2,2,How I Met Your Mother,Pamela Fryman,Carter Bays & Craig Thomas,2005-09-26,1ALH01,10400000.0
2,1,3,3,How I Met Your Mother,Pamela Fryman,Phil Lord & Chris Miller,2005-10-03,1ALH02,10440000.0
3,1,4,4,How I Met Your Mother,Pamela Fryman,Kourtney Kang,2005-10-10,1ALH03,9840000.0
4,1,5,5,How I Met Your Mother,Pamela Fryman,Chris Harris,2005-10-17,1ALH04,10140000.0

In [161]:
df_strangerthings = pd.read_csv("Stranger_Things_Ratings.csv")

In [162]:
df_strangerthings.head(60)

,index,Episode_Number,Title,Image_url,Year,Description,Genre,Runtime,Rating
0,0,1,Chapter One: The Vanishing of Will Byers,https://m.mediaamazon.com/images/M/MV5BMTUwNTE...,2016,At the U.S. Dept. of Energy an unexplained eve...,Drama | Fantasy | Horror,47 min,8.6
1,1,2,Chapter Two: The Weirdo on Maple Street,https://m.mediaamazon.com/images/M/MV5BMjA4NzA...,2016,Mike hides the mysterious girl in his house. J...,Drama | Fantasy | Horror,55 min,8.5
2,2,3,Chapter Three: Holly Jolly,https://m.mediaamazon.com/images/M/MV5BOTkyMDQ...,2016,An increasingly concerned Nancy looks for Barb...,Drama | Fantasy | Horror,51 min,8.9
3,3,4,Chapter Four: The Body,https://m.mediaamazon.com/images/M/MV5BMTkwMjU...,2016,Refusing to believe Will is dead Joyce tries ...,Drama | Fantasy | Horror,49 min,9.0
4,4,5,Chapter Five: The Flea and the Acrobat,https://m.mediaamazon.com/images/M/MV5BMjM0NjQ...,2016,Hopper breaks into the lab to find the truth a...,Drama | Fantasy | Horror,52 min,8.8
5,5,6,Chapter Six: The Monster,https://m.mediaamazon.com/images/M/MV5BNDE1MjQ...,2016,Hopper and Joyce find the truth about the lab'...,Drama | Fantasy | Horror,46 min,8.9
6,6,7,Chapter Seven: The Bathtub,https://m.mediaamazon.com/images/M/MV5BMjMyNTk...,2016,The government comes searching for Eleven. Ele...,Drama | Fantasy | Horror,41 min,9.1
7,7,8,Chapter Eight: The Upside Down,https://m.mediaamazon.com/images/M/MV5BMTEzNzk...,2016,Joyce and Hopper are taken in for questioning....,Drama | Fantasy | Horror,54 min,9.3
8,8,9,Chapter One: MADMAX,https://m.mediaamazon.com/images/M/MV5BNDc3MzE...,2017,As the town preps for Halloween a highscoring...,Drama | Fantasy | Horror,48 min,8.3
9,9,10,Chapter Two: Trick or Treat Freak,https://m.mediaamazon.com/images/M/MV5BOTY2MDE...,2017,After Will sees something terrible on trickort...,Drama | Fantasy | Horror,56 min,8.5
10,10,11,Chapter Three: The Pollywog,https://m.mediaamazon.com/images/M/MV5BMTY1NDM...,2017,Dustin adopts a strange new pet and Eleven gr...,Drama | Fantasy | Horror,51 min,8.7
11,11,12,Chapter Four: Will the Wise,https://m.mediaamazon.com/images/M/MV5BMjczNzc...,2017,An ailing Will opens up to Joyce with disturb...,Drama | Fantasy | Horror,46 min,8.7
12,12,13,Chapter Five: Dig Dug,https://m.mediaamazon.com/images/M/MV5BMzhkNzl...,2017,Nancy and Jonathan swap conspiracy theories wi...,Drama | Fantasy | Horror,58 min,8.9
13,13,14,Chapter Six: The Spy,https://m.mediaamazon.com/images/M/MV5BZmYwMmM...,2017,Will's connection to a shadowy evil grows stro...,Drama | Fantasy | Horror,51 min,9.2
14,14,15,Chapter Seven: The Lost Sister,https://m.mediaamazon.com/images/M/MV5BMDY0OTk...,2017,Psychic visions draw Eleven to a band of viole...,Drama | Fantasy | Horror,45 min,6.1
15,15,16,Chapter Eight: The Mind Flayer,https://m.mediaamazon.com/images/M/MV5BODkzMjE...,2017,An unlikely hero steps forward when a deadly d...,Drama | Fantasy | Horror,47 min,9.3
16,16,17,Chapter Nine: The Gate,https://m.mediaamazon.com/images/M/MV5BNTYzNjA...,2017,Eleven makes plans to finish what she started ...,Drama | Fantasy | Horror,62 min,9.4
17,17,18,Chapter One: Suzie Do You Copy?,https://m.mediaamazon.com/images/M/MV5BNmEyNzk...,2019,Summer brings new jobs and budding romance. Bu...,Drama | Fantasy | Horror,50 min,8.0
18,18,19,Chapter Two: The Mall Rats,https://m.mediaamazon.com/images/M/MV5BOWVmZTV...,2019,Nancy and Jonathan follow a lead Steve and Ro...,Drama | Fantasy | Horror,50 min,8.1
19,19,20,Chapter Three: The Case of the Missing Lifeguard,https://m.mediaamazon.com/images/M/MV5BMWM1OWM...,2019,With El and Max looking for Billy Will declar...,Drama | Fantasy | Horror,49 min,8.5
20,20,21,Chapter Four: The Sauna Test,https://m.mediaamazon.com/images/M/MV5BNzVhZTV...,2019,A code red brings the gang back together to fa...,Drama | Fantasy | Horror,52 min,9.1
21,21,22,Chapter Five: The Flayed,https://m.mediaamazon.com/images/M/MV5BZDhlNmM...,2019,Strange surprises lurk inside an old farmhouse...,Drama | Fantasy | Horror,51 min,8.7
22,22,23,Chapter Six: E Pluribus Unum,https://m.mediaamazon.com/images/M/MV5BZDg5NjM...,2019,Dr. Alexei reveals what the Russians have been...,Drama | Fantasy | Horror,59 min,8.8
23,23,24,Chapter Seven: The Bite,https://m.mediaamazon.com/images/M/MV5BMjg0ZDA...,2019,With time running out and an assassin close b...,Drama | Fantasy | Horror,55 min,8.9
24,24,25,Chapter Eight: The Battle of Starcourt,https://m.mediaamazon.com/images/M/MV5BODY4YjV...,2019,Terror reigns in the food court when the Mind ...,Drama | Fantasy | Horror,77 min,9.4

In [163]:
df_strangerthings = df_strangerthings.rename(columns={' Title': 'name',' Year': 'year','Episode_Number': 'episode',' Rating': 'rating'})

In [164]:
df_strangerthings.head()

,index,episode,name,Image_url,year,Description,Genre,Runtime,rating
0,0,1,Chapter One: The Vanishing of Will Byers,https://m.mediaamazon.com/images/M/MV5BMTUwNTE...,2016,At the U.S. Dept. of Energy an unexplained eve...,Drama | Fantasy | Horror,47 min,8.6
1,1,2,Chapter Two: The Weirdo on Maple Street,https://m.mediaamazon.com/images/M/MV5BMjA4NzA...,2016,Mike hides the mysterious girl in his house. J...,Drama | Fantasy | Horror,55 min,8.5
2,2,3,Chapter Three: Holly Jolly,https://m.mediaamazon.com/images/M/MV5BOTkyMDQ...,2016,An increasingly concerned Nancy looks for Barb...,Drama | Fantasy | Horror,51 min,8.9
3,3,4,Chapter Four: The Body,https://m.mediaamazon.com/images/M/MV5BMTkwMjU...,2016,Refusing to believe Will is dead Joyce tries ...,Drama | Fantasy | Horror,49 min,9.0
4,4,5,Chapter Five: The Flea and the Acrobat,https://m.mediaamazon.com/images/M/MV5BMjM0NjQ...,2016,Hopper breaks into the lab to find the truth a...,Drama | Fantasy | Horror,52 min,8.8

In [165]:
# create a mapping between year and season
year_to_season = {2016: 1, 2017: 2, 2019: 3}

# create a new column 'season' based on the year_to_season mapping
df_strangerthings['season'] = df_strangerthings['year'].map(year_to_season)

# display the updated dataframe
print(df_strangerthings)

    index  episode                                              name  \
0       0        1          Chapter One: The Vanishing of Will Byers
1       1        2           Chapter Two: The Weirdo on Maple Street
2       2        3                        Chapter Three: Holly Jolly
3       3        4                            Chapter Four: The Body
4       4        5            Chapter Five: The Flea and the Acrobat
5       5        6                          Chapter Six: The Monster
6       6        7                        Chapter Seven: The Bathtub
7       7        8                    Chapter Eight: The Upside Down
8       8        9                               Chapter One: MADMAX
9       9       10                 Chapter Two: Trick or Treat Freak
10     10       11                       Chapter Three: The Pollywog
11     11       12                       Chapter Four: Will the Wise
12     12       13                             Chapter Five: Dig Dug
13     13       14                              Chapter Six: The Spy
14     14       15                    Chapter Seven: The Lost Sister
15     15       16                    Chapter Eight: The Mind Flayer
16     16       17                            Chapter Nine: The Gate
17     17       18                   Chapter One: Suzie Do You Copy?
18     18       19                        Chapter Two: The Mall Rats
19     19       20  Chapter Three: The Case of the Missing Lifeguard
20     20       21                      Chapter Four: The Sauna Test
21     21       22                          Chapter Five: The Flayed
22     22       23                      Chapter Six: E Pluribus Unum
23     23       24                           Chapter Seven: The Bite
24     24       25            Chapter Eight: The Battle of Starcourt

                                            Image_url  year  \
0   https://m.mediaamazon.com/images/M/MV5BMTUwNTE...  2016
1   https://m.mediaamazon.com/images/M/MV5BMjA4NzA...  2016
2   https://m.mediaamazon.com/images/M/MV5BOTkyMDQ...  2016
3   https://m.mediaamazon.com/images/M/MV5BMTkwMjU...  2016
4   https://m.mediaamazon.com/images/M/MV5BMjM0NjQ...  2016
5   https://m.mediaamazon.com/images/M/MV5BNDE1MjQ...  2016
6   https://m.mediaamazon.com/images/M/MV5BMjMyNTk...  2016
7   https://m.mediaamazon.com/images/M/MV5BMTEzNzk...  2016
8   https://m.mediaamazon.com/images/M/MV5BNDc3MzE...  2017
9   https://m.mediaamazon.com/images/M/MV5BOTY2MDE...  2017
10  https://m.mediaamazon.com/images/M/MV5BMTY1NDM...  2017
11  https://m.mediaamazon.com/images/M/MV5BMjczNzc...  2017
12  https://m.mediaamazon.com/images/M/MV5BMzhkNzl...  2017
13  https://m.mediaamazon.com/images/M/MV5BZmYwMmM...  2017
14  https://m.mediaamazon.com/images/M/MV5BMDY0OTk...  2017
15  https://m.mediaamazon.com/images/M/MV5BODkzMjE...  2017
16  https://m.mediaamazon.com/images/M/MV5BNTYzNjA...  2017
17  https://m.mediaamazon.com/images/M/MV5BNmEyNzk...  2019
18  https://m.mediaamazon.com/images/M/MV5BOWVmZTV...  2019
19  https://m.mediaamazon.com/images/M/MV5BMWM1OWM...  2019
20  https://m.mediaamazon.com/images/M/MV5BNzVhZTV...  2019
21  https://m.mediaamazon.com/images/M/MV5BZDhlNmM...  2019
22  https://m.mediaamazon.com/images/M/MV5BZDg5NjM...  2019
23  https://m.mediaamazon.com/images/M/MV5BMjg0ZDA...  2019
24  https://m.mediaamazon.com/images/M/MV5BODY4YjV...  2019

                                          Description  \
0   At the U.S. Dept. of Energy an unexplained eve...
1   Mike hides the mysterious girl in his house. J...
2   An increasingly concerned Nancy looks for Barb...
3   Refusing to believe Will is dead  Joyce tries ...
4   Hopper breaks into the lab to find the truth a...
5   Hopper and Joyce find the truth about the lab'...
6   The government comes searching for Eleven. Ele...
7   Joyce and Hopper are taken in for questioning....
8   As the town preps for Halloween  a highscoring...
9   After Will sees something terrible on trickort...
10  Dustin adopts a strange new pet  and Eleven gr...
11  An ailing Will opens up to Joyce  with disturb...
12  Nancy and Jonathan swap conspiracy theories wi...
13  Will's connection to a shadowy evil grows stro...
14  Psychic visions draw Eleven to a band of viole...
15  An unlikely hero steps forward when a deadly d...
16  Eleven makes plans to finish what she started ...
17  Summer brings new jobs and budding romance. Bu...
18  Nancy and Jonathan follow a lead  Steve and Ro...
19  With El and Max looking for Billy  Will declar...
20  A code red brings the gang back together to fa...
21  Strange surprises lurk inside an old farmhouse...
22  Dr. Alexei reveals what the Russians have been...
23  With time running out  and an assassin close b...
24  Terror reigns in the food court when the Mind ...

                         Genre  Runtime  rating  season
0   Drama |  Fantasy |  Horror   47 min     8.6       1
1   Drama |  Fantasy |  Horror   55 min     8.5       1
2   Drama |  Fantasy |  Horror   51 min     8.9       1
3   Drama |  Fantasy |  Horror   49 min     9.0       1
4   Drama |  Fantasy |  Horror   52 min     8.8       1
5   Drama |  Fantasy |  Horror   46 min     8.9       1
6   Drama |  Fantasy |  Horror   41 min     9.1       1
7   Drama |  Fantasy |  Horror   54 min     9.3       1
8   Drama |  Fantasy |  Horror   48 min     8.3       2
9   Drama |  Fantasy |  Horror   56 min     8.5       2
10  Drama |  Fantasy |  Horror   51 min     8.7       2
11  Drama |  Fantasy |  Horror   46 min     8.7       2
12  Drama |  Fantasy |  Horror   58 min     8.9       2
13  Drama |  Fantasy |  Horror   51 min     9.2       2
14  Drama |  Fantasy |  Horror   45 min     6.1       2
15  Drama |  Fantasy |  Horror   47 min     9.3       2
16  Drama |  Fantasy |  Horror   62 min     9.4       2
17  Drama |  Fantasy |  Horror   50 min     8.0       3
18  Drama |  Fantasy |  Horror   50 min     8.1       3
19  Drama |  Fantasy |  Horror   49 min     8.5       3
20  Drama |  Fantasy |  Horror   52 min     9.1       3
21  Drama |  Fantasy |  Horror   51 min     8.7       3
22  Drama |  Fantasy |  Horror   59 min     8.8       3
23  Drama |  Fantasy |  Horror   55 min     8.9       3
24  Drama |  Fantasy |  Horror   77 min     9.4       3

In [166]:
df_strangerthings['name'] = 'stranger things'

In [167]:
df_strangerthings.head(60)

,index,episode,name,Image_url,year,Description,Genre,Runtime,rating,season
0,0,1,stranger things,https://m.mediaamazon.com/images/M/MV5BMTUwNTE...,2016,At the U.S. Dept. of Energy an unexplained eve...,Drama | Fantasy | Horror,47 min,8.6,1
1,1,2,stranger things,https://m.mediaamazon.com/images/M/MV5BMjA4NzA...,2016,Mike hides the mysterious girl in his house. J...,Drama | Fantasy | Horror,55 min,8.5,1
2,2,3,stranger things,https://m.mediaamazon.com/images/M/MV5BOTkyMDQ...,2016,An increasingly concerned Nancy looks for Barb...,Drama | Fantasy | Horror,51 min,8.9,1
3,3,4,stranger things,https://m.mediaamazon.com/images/M/MV5BMTkwMjU...,2016,Refusing to believe Will is dead Joyce tries ...,Drama | Fantasy | Horror,49 min,9.0,1
4,4,5,stranger things,https://m.mediaamazon.com/images/M/MV5BMjM0NjQ...,2016,Hopper breaks into the lab to find the truth a...,Drama | Fantasy | Horror,52 min,8.8,1
5,5,6,stranger things,https://m.mediaamazon.com/images/M/MV5BNDE1MjQ...,2016,Hopper and Joyce find the truth about the lab'...,Drama | Fantasy | Horror,46 min,8.9,1
6,6,7,stranger things,https://m.mediaamazon.com/images/M/MV5BMjMyNTk...,2016,The government comes searching for Eleven. Ele...,Drama | Fantasy | Horror,41 min,9.1,1
7,7,8,stranger things,https://m.mediaamazon.com/images/M/MV5BMTEzNzk...,2016,Joyce and Hopper are taken in for questioning....,Drama | Fantasy | Horror,54 min,9.3,1
8,8,9,stranger things,https://m.mediaamazon.com/images/M/MV5BNDc3MzE...,2017,As the town preps for Halloween a highscoring...,Drama | Fantasy | Horror,48 min,8.3,2
9,9,10,stranger things,https://m.mediaamazon.com/images/M/MV5BOTY2MDE...,2017,After Will sees something terrible on trickort...,Drama | Fantasy | Horror,56 min,8.5,2
10,10,11,stranger things,https://m.mediaamazon.com/images/M/MV5BMTY1NDM...,2017,Dustin adopts a strange new pet and Eleven gr...,Drama | Fantasy | Horror,51 min,8.7,2
11,11,12,stranger things,https://m.mediaamazon.com/images/M/MV5BMjczNzc...,2017,An ailing Will opens up to Joyce with disturb...,Drama | Fantasy | Horror,46 min,8.7,2
12,12,13,stranger things,https://m.mediaamazon.com/images/M/MV5BMzhkNzl...,2017,Nancy and Jonathan swap conspiracy theories wi...,Drama | Fantasy | Horror,58 min,8.9,2
13,13,14,stranger things,https://m.mediaamazon.com/images/M/MV5BZmYwMmM...,2017,Will's connection to a shadowy evil grows stro...,Drama | Fantasy | Horror,51 min,9.2,2
14,14,15,stranger things,https://m.mediaamazon.com/images/M/MV5BMDY0OTk...,2017,Psychic visions draw Eleven to a band of viole...,Drama | Fantasy | Horror,45 min,6.1,2
15,15,16,stranger things,https://m.mediaamazon.com/images/M/MV5BODkzMjE...,2017,An unlikely hero steps forward when a deadly d...,Drama | Fantasy | Horror,47 min,9.3,2
16,16,17,stranger things,https://m.mediaamazon.com/images/M/MV5BNTYzNjA...,2017,Eleven makes plans to finish what she started ...,Drama | Fantasy | Horror,62 min,9.4,2
17,17,18,stranger things,https://m.mediaamazon.com/images/M/MV5BNmEyNzk...,2019,Summer brings new jobs and budding romance. Bu...,Drama | Fantasy | Horror,50 min,8.0,3
18,18,19,stranger things,https://m.mediaamazon.com/images/M/MV5BOWVmZTV...,2019,Nancy and Jonathan follow a lead Steve and Ro...,Drama | Fantasy | Horror,50 min,8.1,3
19,19,20,stranger things,https://m.mediaamazon.com/images/M/MV5BMWM1OWM...,2019,With El and Max looking for Billy Will declar...,Drama | Fantasy | Horror,49 min,8.5,3
20,20,21,stranger things,https://m.mediaamazon.com/images/M/MV5BNzVhZTV...,2019,A code red brings the gang back together to fa...,Drama | Fantasy | Horror,52 min,9.1,3
21,21,22,stranger things,https://m.mediaamazon.com/images/M/MV5BZDhlNmM...,2019,Strange surprises lurk inside an old farmhouse...,Drama | Fantasy | Horror,51 min,8.7,3
22,22,23,stranger things,https://m.mediaamazon.com/images/M/MV5BZDg5NjM...,2019,Dr. Alexei reveals what the Russians have been...,Drama | Fantasy | Horror,59 min,8.8,3
23,23,24,stranger things,https://m.mediaamazon.com/images/M/MV5BMjg0ZDA...,2019,With time running out and an assassin close b...,Drama | Fantasy | Horror,55 min,8.9,3
24,24,25,stranger things,https://m.mediaamazon.com/images/M/MV5BODY4YjV...,2019,Terror reigns in the food court when the Mind ...,Drama | Fantasy | Horror,77 min,9.4,3

In [168]:
df_simpsons_episodes = pd.read_csv("simpsons_episodes.csv")

In [169]:
df_simpsons_episodes.head()

,id,title,description,original_air_date,production_code,directed_by,written_by,season,number_in_season,number_in_series,us_viewers_in_millions,imdb_rating
0,0,Simpsons Roasting on an Open Fire,Homer is forced to become a department store S...,1989-12-17,7G08,David Silverman,Mimi Pond,1,1,1,26.7,8.1
1,1,Bart the Genius,Bart ends up at a school for gifted children a...,1990-01-14,7G02,David Silverman,Jon Vitti,1,2,2,24.5,7.7
2,2,Homer's Odyssey,"After losing his job, Homer contemplates endin...",1990-01-21,7G03,Wes Archer,Jay Kogen & Wallace Wolodarsky,1,3,3,27.5,7.3
3,3,There's No Disgrace Like Home,After being embarrassed by the rest of the fam...,1990-01-28,7G04,Gregg Vanzo & Kent Butterworth,Al Jean & Mike Reiss,1,4,4,20.2,7.7
4,4,Bart the General,After being beaten up by Nelson Muntz one too ...,1990-02-04,7G05,David Silverman,John Swartzwelder,1,5,5,27.1,7.9

In [170]:
df_simpsons_episodes = df_simpsons_episodes.rename(columns={'title': 'name','original_air_date': 'year','number_in_season': 'episode','imdb_rating': 'rating','us_viewers_in_millions': 'viewers'})

In [171]:
df_simpsons_episodes['name'] = 'The Simpsons'

In [172]:
df_simpsons_episodes.head()

,id,name,description,year,production_code,directed_by,written_by,season,episode,number_in_series,viewers,rating
0,0,The Simpsons,Homer is forced to become a department store S...,1989-12-17,7G08,David Silverman,Mimi Pond,1,1,1,26.7,8.1
1,1,The Simpsons,Bart ends up at a school for gifted children a...,1990-01-14,7G02,David Silverman,Jon Vitti,1,2,2,24.5,7.7
2,2,The Simpsons,"After losing his job, Homer contemplates endin...",1990-01-21,7G03,Wes Archer,Jay Kogen & Wallace Wolodarsky,1,3,3,27.5,7.3
3,3,The Simpsons,After being embarrassed by the rest of the fam...,1990-01-28,7G04,Gregg Vanzo & Kent Butterworth,Al Jean & Mike Reiss,1,4,4,20.2,7.7
4,4,The Simpsons,After being beaten up by Nelson Muntz one too ...,1990-02-04,7G05,David Silverman,John Swartzwelder,1,5,5,27.1,7.9

In [173]:
df_Game_of_Thrones = pd.read_csv("Game_of_Thrones.csv")

In [174]:
df_Game_of_Thrones.head()

,Season,No. of Episode (Season),No. of Episode (Overall),Title of the Episode,Running Time (Minutes),Directed by,Written by,Original Air Date,U.S. Viewers (Millions),Music by,Cinematography by,Editing by,IMDb Rating,Rotten Tomatoes Rating (Percentage),Metacritic Ratings,Ordered,Filming Duration,Novel(s) Adapted,Synopsis
0,1,1,1,Winter Is Coming,61,Tim Van Patten,"David Benioff, D. B. Weiss",17-Apr-2011,2.22,Ramin Djawadi,Alik Sakharov,Oral Norrie Ottey,8.9,100,9.1,"March 2, 2010",Second half of 2010,A Game of Thrones,"North of the Seven Kingdoms of Westeros, Night..."
1,1,2,2,The Kingsroad,55,Tim Van Patten,"David Benioff, D. B. Weiss",24-Apr-2011,2.20,Ramin Djawadi,Alik Sakharov,Oral Norrie Ottey,8.6,100,8.9,"March 2, 2010",Second half of 2010,A Game of Thrones,"Ned, the new Hand of the King, travels to King..."
2,1,3,3,Lord Snow,57,Brian Kirk,"David Benioff, D. B. Weiss",1-May-2011,2.44,Ramin Djawadi,Marco Pontecorvo,Frances Parker,8.5,81,8.7,"March 2, 2010",Second half of 2010,A Game of Thrones,Ned attends the King's Small Council and learn...
3,1,4,4,"Cripples, Bastards, and Broken Things",55,Brian Kirk,Bryan Cogman,8-May-2011,2.45,Ramin Djawadi,Marco Pontecorvo,Frances Parker,8.6,100,9.1,"March 2, 2010",Second half of 2010,A Game of Thrones,"While returning to King's Landing, Tyrion stop..."
4,1,5,5,The Wolf and the Lion,54,Brian Kirk,"David Benioff, D. B. Weiss",15-May-2011,2.58,Ramin Djawadi,Marco Pontecorvo,Frances Parker,9.0,95,9.0,"March 2, 2010",Second half of 2010,A Game of Thrones,"King Robert's eunuch spy, Varys, has uncovered..."

In [175]:
df_Game_of_Thrones = df_Game_of_Thrones.rename(columns={'Title of the Episode': 'name','Original Air Date': 'year','No. of Episode (Overall)': 'episode','IMDb Rating': 'rating','U.S. Viewers (Millions)': 'viewers','Season':'season','Running Time (Minutes)':'minutes'})

In [176]:
df_Game_of_Thrones['name'] = 'Game of Thrones'

In [177]:
df_Game_of_Thrones.head()

,season,No. of Episode (Season),episode,name,minutes,Directed by,Written by,year,viewers,Music by,Cinematography by,Editing by,rating,Rotten Tomatoes Rating (Percentage),Metacritic Ratings,Ordered,Filming Duration,Novel(s) Adapted,Synopsis
0,1,1,1,Game of Thrones,61,Tim Van Patten,"David Benioff, D. B. Weiss",17-Apr-2011,2.22,Ramin Djawadi,Alik Sakharov,Oral Norrie Ottey,8.9,100,9.1,"March 2, 2010",Second half of 2010,A Game of Thrones,"North of the Seven Kingdoms of Westeros, Night..."
1,1,2,2,Game of Thrones,55,Tim Van Patten,"David Benioff, D. B. Weiss",24-Apr-2011,2.20,Ramin Djawadi,Alik Sakharov,Oral Norrie Ottey,8.6,100,8.9,"March 2, 2010",Second half of 2010,A Game of Thrones,"Ned, the new Hand of the King, travels to King..."
2,1,3,3,Game of Thrones,57,Brian Kirk,"David Benioff, D. B. Weiss",1-May-2011,2.44,Ramin Djawadi,Marco Pontecorvo,Frances Parker,8.5,81,8.7,"March 2, 2010",Second half of 2010,A Game of Thrones,Ned attends the King's Small Council and learn...
3,1,4,4,Game of Thrones,55,Brian Kirk,Bryan Cogman,8-May-2011,2.45,Ramin Djawadi,Marco Pontecorvo,Frances Parker,8.6,100,9.1,"March 2, 2010",Second half of 2010,A Game of Thrones,"While returning to King's Landing, Tyrion stop..."
4,1,5,5,Game of Thrones,54,Brian Kirk,"David Benioff, D. B. Weiss",15-May-2011,2.58,Ramin Djawadi,Marco Pontecorvo,Frances Parker,9.0,95,9.0,"March 2, 2010",Second half of 2010,A Game of Thrones,"King Robert's eunuch spy, Varys, has uncovered..."

In [178]:
df_friends_episodes = pd.read_csv("friends_episodes_v3.csv", encoding='iso-8859-1')

In [179]:
df_friends_episodes.head()

,Year_of_prod,Season,Episode Number,Episode_Title,Duration,Summary,Director,Stars,Votes
0,1994,1,1,The One Where Monica Gets a Roommate: The Pilot,22,"Monica and the gang introduce Rachel to the ""r...",James Burrows,8.3,7440
1,1994,1,2,The One with the Sonogram at the End,22,Ross finds out his ex-wife is pregnant. Rachel...,James Burrows,8.1,4888
2,1994,1,3,The One with the Thumb,22,Monica becomes irritated when everyone likes h...,James Burrows,8.2,4605
3,1994,1,4,The One with George Stephanopoulos,22,Joey and Chandler take Ross to a hockey game t...,James Burrows,8.1,4468
4,1994,1,5,The One with the East German Laundry Detergent,22,"Eager to spend time with Rachel, Ross pretends...",Pamela Fryman,8.5,4438

In [180]:
df_friends_episodes = df_friends_episodes.rename(columns={'Episode_Title': 'name','Year_of_prod': 'year','Episode Number': 'episode','Stars': 'rating','Season':'season'})

In [181]:
df_friends_episodes['name'] = 'friends'

In [182]:
df_friends_episodes.head()

,year,season,episode,name,Duration,Summary,Director,rating,Votes
0,1994,1,1,friends,22,"Monica and the gang introduce Rachel to the ""r...",James Burrows,8.3,7440
1,1994,1,2,friends,22,Ross finds out his ex-wife is pregnant. Rachel...,James Burrows,8.1,4888
2,1994,1,3,friends,22,Monica becomes irritated when everyone likes h...,James Burrows,8.2,4605
3,1994,1,4,friends,22,Joey and Chandler take Ross to a hockey game t...,James Burrows,8.1,4468
4,1994,1,5,friends,22,"Eager to spend time with Rachel, Ross pretends...",Pamela Fryman,8.5,4438

In [183]:
df_walking_dead = pd.read_csv("Thw_walkingdaed.csv", encoding='iso-8859-1')

In [184]:
df_walking_dead.head()

,Season,Episode,Episode(overall),Title,Directed by,Written by,Original Air date,US viewers(millions)
0,1,1,1,Days Gone Bye,Frank Darabont,Teleplay by: Frank Darabont,10/31/2010,5.35
1,1,2,2,Guts,Michelle MacLaren,Frank Darabont,11/7/2010,4.71
2,1,3,3,Tell It to the Frogs,Gwyneth Horder-Payton,Story by: Charles H. Eglee & Jack LoGiudice & ...,11/14/2010,5.07
3,1,4,4,Vatos,Johan Renck,Robert Kirkman,11/21/2010,4.75
4,1,5,5,Wildfire,Ernest Dickerson,Glen Mazzara,11/28/2010,5.56

In [185]:
df_walking_dead = df_walking_dead.rename(columns={'Title': 'name','Original Air date': 'year','Episode': 'episode','US viewers(millions)': 'viewers','Season':'season'})

In [186]:
df_walking_dead['name'] = 'The walking dead'

In [187]:
df_walking_dead.head()

,season,episode,Episode(overall),name,Directed by,Written by,year,viewers
0,1,1,1,The walking dead,Frank Darabont,Teleplay by: Frank Darabont,10/31/2010,5.35
1,1,2,2,The walking dead,Michelle MacLaren,Frank Darabont,11/7/2010,4.71
2,1,3,3,The walking dead,Gwyneth Horder-Payton,Story by: Charles H. Eglee & Jack LoGiudice & ...,11/14/2010,5.07
3,1,4,4,The walking dead,Johan Renck,Robert Kirkman,11/21/2010,4.75
4,1,5,5,The walking dead,Ernest Dickerson,Glen Mazzara,11/28/2010,5.56

# Merging all the datframes together

In [188]:
# concatenate the two dataframes
df_combined_Tvshows = pd.concat([df_walking_dead, df_friends_episodes,df_Game_of_Thrones,df_simpsons_episodes,df_strangerthings,df_himym_episodes,df_scrubs,df_thebachelor,df_thewire,df_modrenfamily,df_bigbang,df_brooklyn,df_lucifer,df_the_office_series,df_breakingbad,df_cable], ignore_index=True)

In [189]:
df_combined_Tvshows.head(1000)

,season,episode,Episode(overall),name,Directed by,Written by,year,viewers,Duration,Summary,...,episode_num_in_season,reviews,About,Date,GuestStars,Writers,channel,genre,day,time
0,1.0,1,1.0,The walking dead,Frank Darabont,Teleplay by: Frank Darabont,10/31/2010,5.35,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2,2.0,The walking dead,Michelle MacLaren,Frank Darabont,11/7/2010,4.71,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,3,3.0,The walking dead,Gwyneth Horder-Payton,Story by: Charles H. Eglee & Jack LoGiudice & ...,11/14/2010,5.07,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,4,4.0,The walking dead,Johan Renck,Robert Kirkman,11/21/2010,4.75,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,5,5.0,The walking dead,Ernest Dickerson,Glen Mazzara,11/28/2010,5.56,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,24.0,10,NaN,The Simpsons,NaN,NaN,2013-01-13,5.04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,24.0,11,NaN,The Simpsons,NaN,NaN,2013-01-27,5.23,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,24.0,12,NaN,The Simpsons,NaN,NaN,2013-02-10,4.19,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,24.0,13,NaN,The Simpsons,NaN,NaN,2013-02-17,4.57,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,24.0,14,NaN,The Simpsons,NaN,NaN,2013-03-03,4.66,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
df_combined_Tvshows.shape

(5604, 58)

In [191]:
df_combined_Tvshows = df_combined_Tvshows.drop(columns=['Episode(overall)','Directed by','Written by','Duration','Summary','reviews','episode_num_in_season','About','Date','channel','genre','time'])

In [192]:
df_combined_Tvshows.head()

,season,episode,name,year,viewers,Director,rating,Votes,No. of Episode (Season),minutes,...,story_writers,teleplay_writers,votes,Description,Image Link,Unnamed: 0,Plot,GuestStars,Writers,day
0,1.0,1,The walking dead,10/31/2010,5.35,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2,The walking dead,11/7/2010,4.71,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,3,The walking dead,11/14/2010,5.07,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,4,The walking dead,11/21/2010,4.75,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,5,The walking dead,11/28/2010,5.56,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [193]:
df_combined_Tvshows = df_combined_Tvshows.drop(columns=['No. of Episode (Season)','story_writers','teleplay_writers','Description','Image Link','Unnamed: 0','Plot','GuestStars','Writers','day'])

In [194]:
df_combined_Tvshows.head()

,season,episode,name,year,viewers,Director,rating,Votes,minutes,Music by,...,Description,Genre,Runtime,episode_num_overall,prod_code,Show,No in Season,Prod Code,director,votes
0,1.0,1,The walking dead,10/31/2010,5.35,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2,The walking dead,11/7/2010,4.71,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,3,The walking dead,11/14/2010,5.07,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,4,The walking dead,11/21/2010,4.75,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,5,The walking dead,11/28/2010,5.56,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [195]:
df_combined_Tvshows = df_combined_Tvshows.drop(columns=['Music by','prod_code','episode_num_overall','No in Season','Prod Code','director','Show','votes'])

In [196]:
df_combined_Tvshows.head()

,season,episode,name,year,viewers,Director,rating,Votes,minutes,Cinematography by,...,description,production_code,directed_by,written_by,number_in_series,index,Image_url,Description,Genre,Runtime
0,1.0,1,The walking dead,10/31/2010,5.35,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2,The walking dead,11/7/2010,4.71,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,3,The walking dead,11/14/2010,5.07,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,4,The walking dead,11/21/2010,4.75,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,5,The walking dead,11/28/2010,5.56,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [197]:
df_combined_Tvshows = df_combined_Tvshows.drop(columns=['Cinematography by','description','production_code','directed_by','written_by','number_in_series','index'])

In [198]:
df_combined_Tvshows

,season,episode,name,year,viewers,Director,rating,Votes,minutes,Editing by,...,Metacritic Ratings,Ordered,Filming Duration,Novel(s) Adapted,Synopsis,id,Image_url,Description,Genre,Runtime
0,1.0,1,The walking dead,10/31/2010,5.35,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2,The walking dead,11/7/2010,4.71,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,3,The walking dead,11/14/2010,5.07,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,4,The walking dead,11/21/2010,4.75,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,5,The walking dead,11/28/2010,5.56,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5599,2.0,19,Madam Secretary,2016-S,9.86,NaN,1.1,NaN,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5600,2.0,20,Madam Secretary,2016-S,9.57,NaN,0.9,NaN,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5601,2.0,21,Madam Secretary,2016-S,9.57,NaN,1.0,NaN,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5602,2.0,22,Madam Secretary,2016-S,9.9,NaN,1.0,NaN,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5603,2.0,23,Madam Secretary,2016-S,9.99,NaN,1.0,NaN,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [199]:
df_combined_Tvshows = df_combined_Tvshows.drop(columns=['Editing by','Metacritic Ratings','Ordered','Filming Duration','Novel(s) Adapted','Synopsis','id'])

In [200]:
df_combined_Tvshows.head()

,season,episode,name,year,viewers,Director,rating,Votes,minutes,Rotten Tomatoes Rating (Percentage),Image_url,Description,Genre,Runtime
0,1.0,1,The walking dead,10/31/2010,5.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2,The walking dead,11/7/2010,4.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,3,The walking dead,11/14/2010,5.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,4,The walking dead,11/21/2010,4.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,5,The walking dead,11/28/2010,5.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
df_combined_Tvshows = df_combined_Tvshows.drop(columns=['Rotten Tomatoes Rating (Percentage)'])

In [202]:
df_combined_Tvshows.shape

(5604, 13)

In [203]:
df_combined_Tvshows.head(100)

,season,episode,name,year,viewers,Director,rating,Votes,minutes,Image_url,Description,Genre,Runtime
0,1.0,1,The walking dead,10/31/2010,5.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2,The walking dead,11/7/2010,4.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,3,The walking dead,11/14/2010,5.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,4,The walking dead,11/21/2010,4.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,5,The walking dead,11/28/2010,5.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,7.0,13,The walking dead,3/12/2017,10.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,7.0,14,The walking dead,3/19/2017,10.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,7.0,15,The walking dead,3/26/2017,10.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,7.0,16,The walking dead,4/2/2017,11.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,8.0,1,The walking dead,10/22/2017,11.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [404]:
df_combined_Tvshows.to_csv('Tvshows_Full.csv', index=False)

In [216]:
df_new_data = pd.read_csv("Tvshows_Full_Ready_1.csv", encoding='iso-8859-1')

In [217]:
df_new_data.head()

,Tv_show,season,episode_number,title,airdate,rating,total_votes
0,Clannad: After Story,1,1,Natsu no owari no sayonara,"Oct 2, 2008",7.5,179
1,Clannad: After Story,1,2,Itsuwari no ai o sagashite,"Oct 9, 2008",7.6,164
2,Clannad: After Story,1,3,Surechigau kokoro,"Oct 16, 2008",7.5,165
3,Clannad: After Story,1,4,Anohi to onaji egao de,"Oct 23, 2008",8.1,176
4,Clannad: After Story,1,5,Kimi no ita kisetsu,"Oct 30, 2008",7.5,162

In [218]:
df_new_data = df_new_data.rename(columns={'title': 'names1','airdate': 'year','total_votes': 'Votes','episode_number': 'episode','Tv_show':'name'})

In [219]:
df_new_data.head()

,name,season,episode,names1,year,rating,Votes
0,Clannad: After Story,1,1,Natsu no owari no sayonara,"Oct 2, 2008",7.5,179
1,Clannad: After Story,1,2,Itsuwari no ai o sagashite,"Oct 9, 2008",7.6,164
2,Clannad: After Story,1,3,Surechigau kokoro,"Oct 16, 2008",7.5,165
3,Clannad: After Story,1,4,Anohi to onaji egao de,"Oct 23, 2008",8.1,176
4,Clannad: After Story,1,5,Kimi no ita kisetsu,"Oct 30, 2008",7.5,162

In [220]:
df_new_data = df_new_data.drop(columns=['names1'])

In [221]:
df_new_data.head()

                   name  season  episode          year  rating  Votes
0  Clannad: After Story       1        1   Oct 2, 2008     7.5    179
1  Clannad: After Story       1        2   Oct 9, 2008     7.6    164
2  Clannad: After Story       1        3  Oct 16, 2008     7.5    165
3  Clannad: After Story       1        4  Oct 23, 2008     8.1    176
4  Clannad: After Story       1        5  Oct 30, 2008     7.5    162

In [222]:
df_combined_Tvshows.head()

,season,episode,name,year,viewers,Director,rating,Votes,minutes,Image_url,Description,Genre,Runtime
0,1.0,1,The walking dead,10/31/2010,5.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2,The walking dead,11/7/2010,4.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,3,The walking dead,11/14/2010,5.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,4,The walking dead,11/21/2010,4.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,5,The walking dead,11/28/2010,5.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# merging them together

In [223]:
finla_merged_df = pd.concat([df_new_data, df_combined_Tvshows], ignore_index=True)

In [224]:
finla_merged_df.head()

,name,season,episode,year,rating,Votes,viewers,Director,minutes,Image_url,Description,Genre,Runtime
0,Clannad: After Story,1.0,1,"Oct 2, 2008",7.5,179,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Clannad: After Story,1.0,2,"Oct 9, 2008",7.6,164,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Clannad: After Story,1.0,3,"Oct 16, 2008",7.5,165,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Clannad: After Story,1.0,4,"Oct 23, 2008",8.1,176,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Clannad: After Story,1.0,5,"Oct 30, 2008",7.5,162,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [225]:
finla_merged_df.shape

(22057, 13)

In [226]:
finla_merged_df.to_csv('Final_tvshow_dataset_mf.csv', index=False)